<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
  rel="stylesheet">

<div style="background: #e2d4f0; padding: 30px 0; text-align: center;">
  <img src="https://i.ibb.co/5vXX7Kg/Second-Hand.png" width="100" />
</div>
